.nav-button {
    width: 50%;
    margin: auto;
    align-items: center;
    padding-bottom: 100px;
}

.nav-button button {
    color: rgb(53, 124, 231);
    border: 1px solid grey;
}

.nav-button div {
    padding: 0px 80px;
} 